[scan]
#List of folders to scan for game definition files
C:\GAMES\

[options]
#resolution - high or low : high is 640x480, low is 320x200.
resolution=high
#diagnosticOverlay - true for FPS,lag and memory usage
diagnosticOverlay=false